* {
	box-sizing: border-box;
	padding:0;
	margin:0;
}

html {
	font-size:20px;
}

body {
	
}


#menu {
	position:fixed;
	right:20px
}

#menu li {
	list-style-type:none;
	font-size:30px;
	transition:all 0.4s;
	cursor:pointer
}

#menu li:hover {
	font-size:60px;
}


.main-text {
	max-width:1000px;
	/*margin-top:30px;
	margin-left:30px;*/
}
	p {
		margin-bottom:1em;
		font-size:2rem;
		border:1px solid #000;

		/* position:absolute; */
		top:30px; left:30px;
		max-width:1000px;
		background:white;

		}

		.relative-demo {
			top:60px; 
			left:60px;
			z-index:2;
		}

/*	.relative-demo {
		position:relative;
		top:130px;
		left:60px;
	}*/
